In [2]:
import pandas as pd
#Motor_Vehicle_Collisions___Crashes_20250123.csv -- Raw Data

# Read the CSV file
df = pd.read_csv('data/raw/Motor_Vehicle_Collisions___Crashes_20250123.csv')
# Select specific columns
df_cols = df[["CRASH DATE", "CRASH TIME", "BOROUGH", "LOCATION"]]
# Drop rows with NaN in any column
df_cleaned = df_cols.dropna()
# Reset the index after filtering
df_cleaned = df_cleaned.reset_index(drop=True)
# Display the first few rows
print(df_cleaned.head())
# Save the cleaned data to a new CSV file
df_cleaned.to_csv("data/clean/mvc_crashes.csv", index=False)

/var/folders/qf/thggxffx643_rhwr9s1hfhpw0000gq/T/ipykernel_5524/1841739917.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/raw/Motor_Vehicle_Collisions___Crashes_20250123.csv')

   CRASH DATE CRASH TIME    BOROUGH                 LOCATION
0  09/11/2021       9:35   BROOKLYN    (40.667202, -73.8665)
1  12/14/2021       8:13   BROOKLYN  (40.683304, -73.917274)
2  12/14/2021       8:17      BRONX    (40.86816, -73.83148)
3  12/14/2021      21:10   BROOKLYN     (40.67172, -73.8971)
4  12/14/2021      14:58  MANHATTAN    (40.75144, -73.97397)

In [3]:
import pandas as pd
# Read the CSV file
df = pd.read_csv('data/clean/mvc_crashes.csv')
# Display the first few rows
print(df.head())

   CRASH DATE CRASH TIME    BOROUGH                 LOCATION
0  09/11/2021       9:35   BROOKLYN    (40.667202, -73.8665)
1  12/14/2021       8:13   BROOKLYN  (40.683304, -73.917274)
2  12/14/2021       8:17      BRONX    (40.86816, -73.83148)
3  12/14/2021      21:10   BROOKLYN     (40.67172, -73.8971)
4  12/14/2021      14:58  MANHATTAN    (40.75144, -73.97397)